<article class="ug-card-product ug-card-product--wide">
  <a href="{{ product.url }}" class="ug-card-product__link ug-card-product__link--flex">
    <div class="ug-card-product__media ug-card-product__media--thumb">
      {% if product.featured_image %}
        <img src="{{ product.featured_image | image_url: width: 200 }}" alt="{{ product.featured_image.alt | default: product.title | escape }}" width="200" loading="lazy">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'ug-card-product__placeholder' }}
      {% endif %}
    </div>
    <div class="ug-card-product__info">
      <h3 class="ug-card-product__title">{{ product.title }}</h3>
      <div class="ug-card-product__price">{% render 'ug-price', product: product %}</div>
      <span class="ug-card-product__arrow">{% render 'ug-icon-arrow' %}</span>
    </div>
  </a>
</article>
