{% layout 'theme' %}
<div class="ug-customer page-width">
  <div class="ug-customer__inner">
    <h1 class="ug-customer__title">{{ 'customer.recover_password.title' | t }}</h1>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>
    {% form 'recover_customer_password', class: 'ug-customer__form' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p>We've sent you an email with a link to reset your password.</p>
      {% else %}
        <div class="ug-customer__field">
          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" name="email" id="RecoverEmail" autocomplete="email">
        </div>
        <button type="submit" class="ug-btn ug-btn--primary">{{ 'customer.recover_password.submit' | t }}</button>
        <a href="{{ routes.account_login_url }}" class="ug-btn ug-btn--secondary">{{ 'customer.recover_password.cancel' | t }}</a>
      {% endif %}
    {% endform %}
  </div>
</div>
