{% layout 'theme' %}
<div class="ug-customer page-width">
  <div class="ug-customer__inner">
    <h1 class="ug-customer__title">{{ 'customer.reset_password.title' | t }}</h1>
    <p>{{ 'customer.reset_password.subtext' | t }}</p>
    {% form 'reset_customer_password', class: 'ug-customer__form' %}
      {{ form.errors | default_errors }}
      <div class="ug-customer__field">
        <label for="CustomerPassword">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" name="customer[password]" id="CustomerPassword" autocomplete="new-password" required>
      </div>
      <div class="ug-customer__field">
        <label for="CustomerPasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" autocomplete="new-password" required>
      </div>
      <button type="submit" class="ug-btn ug-btn--primary">{{ 'customer.reset_password.submit' | t }}</button>
    {% endform %}
  </div>
</div>
