<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ 'general.password_page.title' | t }}</title>
  {{ content_for_header }}
  {{ 'ug-base.css' | asset_url | stylesheet_tag }}
</head>
<body class="ug-password-page">
  {{ content_for_layout }}
</body>
</html>
