<section class="ug-list-collections page-width">
  <h1>{{ 'sections.collection_list.title' | t }}</h1>
  <ul class="ug-list-collections__grid">
    {% for collection in collections %}
      <li class="ug-list-collections__item">
        <a href="{{ collection.url }}">
          {% if collection.image %}<img src="{{ collection.image | image_url: width: 400 }}" alt="{{ collection.title | escape }}" loading="lazy">{% else %}{{ 'collection-1' | placeholder_svg_tag }}{% endif %}
          <span>{{ collection.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "List collections",
  "settings": []
}
{% endschema %}
